.page__header {
  border-bottom: 1px solid rgba(223, 223, 223, 0.6);
  margin-bottom: 60px;
}

.header__container {
  display: flex;
  padding: 20px 24px;
  justify-content: space-between;
  align-items: center;
}

.menu__items {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.menu__link {
  &:hover,
  :focus {
    font-weight: 600;
    text-decoration: none;
  }
}

.link-header__sign {
  &:hover,
  :focus {
    font-weight: 600;
    text-decoration: none;
  }
}

.header__links {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
