$primaryColor: #f3f4f4;

.advantages__title {
  max-width: 476px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  line-height: calc(48px / 36px);
  padding-top: 60px;
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  // grid-auto-rows: 700px;
  grid-row-gap: 25px;
  column-gap: 25px;
  grid-template-areas:
    'wide1 wide1'
    'wide2 wide3'
    'wide4 wide4'
    'wide5 wide6';
}

@media (max-width: 768px) {
  .advantages__wrapper {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    //  grid-template-rows:  repeat(6, 1fr);
    grid-template-areas:
      'wide1'
      'wide2'
      'wide2'
      'wide3'
      'wide3'
      'wide4'
      'wide5'
      'wide5'
      'wide6'
      'wide6';
  }
}

.advantages__01 {
  grid-area: wide1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $primaryColor;
  border-radius: 10px;
  height: 676px;
  & h2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 468px) {
  .advantages__01 {
    height: 100%;
  }
}

.advantages__02 {
  grid-area: wide2;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;
  & p {
    margin-bottom: 88px;
    max-width: 432px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  & h2 {
    max-width: 322px;
    margin-bottom: 15px;
  }
}
.advantages__03 {
  grid-area: wide3;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;
  & h2 {
    max-width: 322px;
  }

  & p {
    max-width: 429px;
    text-align: center;
    margin: 0 auto;
  }
}
.advantages__04 {
  grid-area: wide4;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;

  & h2 {
    max-width: 351px;
  }
}
.advantages__05 {
  grid-area: wide5;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;

  & h2 {
    max-width: 322px;
  }
}
.advantages__06 {
  grid-area: wide6;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;

  & h2 {
    max-width: 410px;
    font-size: 36px;
  }
}

.advantages__img01 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.advantages__img02 img {
  // max-width: 525px;
  // height: 550px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

.advantages__img03 img {
  // max-width: 525px;
  // height: 650px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.advantages__img04 img {
  // max-width: 1050px;
  // height: 550px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.advantages__img05 img {
  // max-width: 525px;
  // height: 600px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.advantages__img06 img {
  // max-width: 525px;
  // height: 650px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-advantages__text {
  text-align: center;
  line-height: 28px;
}
