.feedback__wrapper {
  max-width: 920px;
  height: 454px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid rgba(223, 223, 223, 0.6);
}

.page__feedback {
  margin-top: 120px;
}

.feedback__title {
  width: 315px;
  text-align: start;
  font-size: 48px;
  line-height: calc(62px / 48px);
  font-family: 'Roboto';
  align-content: center;
  margin-top: 110px;
  margin-bottom: 25px;
  margin-right: 150px;
}

.feedback__text {
  max-width: 400px;
  margin-bottom: 100px;
}

.img-feedback__02 {
  position: relative;
  bottom: 0;
  right: -200px;
}

.img-feedback__01 {
  position: relative;
  top: 0;
  right: 0;
}
