$primaryColor: #f3f4f4;

.page__advantages {
  margin: 0 auto;
}

.advantages__title {
  max-width: 476px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  line-height: calc(48px / 36px);
  padding-top: 60px;
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 25px;
  column-gap: 25px;
}

.advantages__01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $primaryColor;
  border-radius: 10px;
  grid-area: 1 / 1 / 2 / 3;
  height: 676px;
  & h2 {
    margin-bottom: 60px;
  }
}
.advantages__02 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;
  & p {
    margin-bottom: 88px;
    max-width: 432px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  & h2 {
    max-width: 322px;
    margin-bottom: 15px;
  }
}
.advantages__03 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;
  & h2 {
    max-width: 322px;
  }

  & p {
    max-width: 429px;
    text-align: center;
    margin: 0 auto;
  }
}
.advantages__04 {
  grid-area: 3 / 1 / 4 / 3;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;

  & h2 {
    max-width: 351px;
  }
}
.advantages__05 {
  grid-area: 4 / 1 / 5 / 2;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;

  & h2 {
    max-width: 322px;
  }
}
.advantages__06 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;

  & h2 {
    max-width: 410px;
    font-size: 36px;
  }
}

.advantages__img01 img {
  max-width: 1050px;
}

.advantages__img02 img {
  max-width: 525px;
  height: 550px;
}

.advantages__img03 img {
  max-width: 525px;
  height: 650px;
}

.advantages__img04 img {
  max-width: 1050px;
  height: 550px;
}

.advantages__img05 img {
  max-width: 525px;
  height: 600px;
}
.advantages__img06 img {
  max-width: 525px;
  height: 650px;
}

.main-advantages__text {
  text-align: center;
  line-height: 28px;
}
