.app {
  // max-width: 100%;
  margin-bottom: 80px;
  margin-top: 65px;
}

.app__wrapper {
  position: relative;
  display: flex;
  padding-left: 45px;
  height: 680px;
  // height: 100%;
  // margin-bottom: 5px;
}

.app__information {
  flex: 0 1 50%;
  display: block;
  max-width: 437px;
  line-height: calc(437px / 125px);
}

.app__title {
  margin-top: 190px;
  font-size: 48px;
  line-height: calc(62px / 48px);
}

.app__img {
  flex: 0 1 50%;
  // margin-left: 50px;
  // margin-right: -50px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  padding-left: 10px;
  // max-width: 676px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 676px;

  &.img {
    max-width: 100%;
    object-fit: cover;
  }
}

.app__info {
  font-size: 15px;

  & a:hover,
  :focus {
    font-weight: 600;
    text-decoration: none;
  }
}

.app__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.app__registr {
  display: flex;
  gap: 10px;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.registr-app__link {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 2px solid rgba(223, 223, 223, 0.6);
  }
  &:hover {
    text-decoration: none;
  }
}

@media (max-width: 1200px) {
  .app__title {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 1020px) {
  .app__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 692px) {
  .app__wrapper {
    height: 100%;
  }
  .app__title {
    margin-top: 50px;
    font-size: 36px;
  }
  .app__img {
    display: none;
  }
  .app__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 100%;
  }

  .app__wrapper {
    justify-content: center;
    // display: block;
    // margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .app__title {
    margin-top: 50px;
  }
}
