.feedback__wrapper {
  width: 920px;
  height: 454px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__feedback {
  margin-top: 120px;
  //   margin: 0 auto;
}
.feedback {
}

.feedback__thumb {
}
.feedback__title {
  display: block;
  width: 315px;
  text-align: start;
  font-size: 48px;
  line-height: calc(62px / 48px);
  font-family: 'Roboto';
  align-content: center;
  margin: 0 auto;
}
.title {
}
.feedback__text {
}
.feedback__images {
}
.page__team {
}
.team {
}
.team__thumb {
}
.team__title {
}
.team__text {
}
.team__list {
}
.team__item {
}
.item-team {
}
.item-team__img {
}
.item-team__name {
}
.item-team__location {
}
