@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './reset';
@import './container';
@import './header';
@import './section-app';
@import './section-grid';
@import './section-feedback';
@import './section-team';
@import './section-join';
@import './footer';
@import './linkBtn';

$primaryColor: #f3f4f4;

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  color: #46474e;
  line-height: 1.5;
  height: 100%;
  min-width: 320px;
}

a {
  &:hover,
  :focus {
    text-decoration: underline;
  }
}

.title {
  font-family: 'Roboto';
  color: black;
}

.wrapper {
  min-height: 100%;
}
